.customer-reg-form-header {
    margin-left: 40vw;
    margin-right: 30vw;
}
.customer-reg-form {
    margin-left: 30vw;
    margin-right: 30vw;
}
.customer-reg-submit {
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    border: 1px solid transparent;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    width: 20vw;
    background-image: linear-gradient(90deg,#3bb5e4 0,#0974e8);
    border-radius: 4px !important;
    border-color: #0b77e7;
}
.customer-reg-form-additional-information {
    margin-left: 30vw;
    margin-right: 30vw;
}
.g-recaptcha {
    margin-top: 10px;
}
