.customer-auth-submit {
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    border: 1px solid transparent;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    width: 20vw;
    background-image: linear-gradient(90deg,#3bb5e4 0,#0974e8);
    border-radius: 4px !important;
    border-color: #0b77e7;
}
.customer-reg-request-btn {
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    border: 1px solid transparent;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    width: 20vw;
    background-image: linear-gradient(90deg,#3bb5e4 0,#0974e8);
    border-radius: 4px !important;
    border-color: #0b77e7;
}
.customer-reg-request-btn a {
    text-decoration: none;
    color: #fff;
}
