@import 'variables';

.colors-fon {
    background-color: skyblue;
}

header {
    .input-group {
        width: 50%;
        height: 20px;
    }
    .go-to-cart-btn {
        width: 0%;
    }
}

.imag {

    width: 90px;
    height: 50px;
}

.log {
    display: none;
}

.log:hover {
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}

@-webkit-keyframes pulsate {
    50% {
        color: #fff;
        box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

@keyframes pulsate {
    50% {
        color: #fff;
        box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px black;
    }
}

.colors-fon1 {
    background-color: #2fa360;
}

.box {
    padding: 0px 0px 0px 20px;
}

.box1 {
    padding: 20px ;
}

.content {
    min-height: calc(70vh - 90px);
}

.footermenu {
    height: 70px;
}

.he {
    width: 60px;
}
.text-col {
    color: #171a1d;
}
/*NAV MENU*/
.navbar-custom {
    background-color: #0059ff;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin: 0;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.9);
}

/* change the link color and padding  */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
    padding: .75rem 1rem;
}

/* change the color and bg color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #23b258;
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: #ffffff;
}
.navbar-custom .dropdown-item {
    color: #05190d;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: $main-colorlayouts;
}

.focus-color:hover {
    color: #ffffff;
    background-color: #23b258;
}
/*FOOTER*/
.footer {
    background-color: #0059ff;
}
.white-text-footer {
    color: #ffffff;
}
.fs {
    font-size: 20px;
}
.log {
    background-image: linear-gradient(90deg,#3bb5e4 0,#0974e8);
    border-color: #0b77e7;
}

/* CSS Document */
.mega-menu {
    width: 1100px;
    overflow: hidden;

    a {
        text-decoration: none;
        color: cadetblue;
    }

    .sub-menu-heading {
        color: darkcyan;
    }

    .category-arrow {
        padding-left: 105px;
    }

    .img-top {
        object-fit: scale-down;
        height: 390px;
    }
}

@media(max-width:500px) {
    .mega-menu{
        width: 300px;
    }
}

/*New SLIDERS*/
.sld {
    height: 100% !important;
    width: 100% !important;
}

.slider-main {
    padding: 0 !important;
}

.cta-100 {
    margin-top: 100px;
    padding-left: 8%;
    padding-top: 7%;
}
.col-md-4 {
    padding-bottom:20px;
}

.white {
    color: #fff !important;
}

.mt {
    float: left;
    margin-top: -20px;
    padding-top: 20px;
}

.bg-blue-ui {
    background-color: #708198 !important;
}
figure {
    img {
        width:300px;
    }
}

#blogCarousel {
    padding-bottom: 100px;
}

.blog {
    .carousel-indicators {
        height: 70px;

        li {
            background: #708198;
            border-radius: 100%;
            width: 20px;
            height: 1px;
        }

        .active {
            background: #0fc9af;
        }
    }
}

.item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
}

.item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
}

.item-box-blog-image {
    position: relative;
}

.item-box-blog-image {
    figure {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
}

.item-box-blog-date {
    span {
        color: #fff;
        display: block;
        text-align: center;
        line-height: 1.2;
    }
}

.item-box-blog-date {
    span {
        .mon {
            font-size: 18px;
        }
    }
}

.item-box-blog-date span.day {
    span {
        .day {
            font-size: 16px;
        }
    }
}

.item-box-blog-body {
    padding: 10px;
}

.item-heading-blog {
    a {
        h5 {
            margin: 0;
            line-height: 1;
            text-decoration:none;
            transition: color 0.3s;
        }
    }
}

.item-box-blog-heading {
    a {
        text-decoration: none;
    }

}

.item-box-blog-data {
    p {
        font-size: 13px;
    }
}

.item-box-blog-data p i {
    p {
        i {
            font-size: 12px;
        }
    }
}

.item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
}

.mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
}

.btn {
    .bg-blue-ui {
        .white {
            .read {
                cursor: pointer;
                padding: 4px 20px;
                float: left;
                margin-top: 10px;
            }
        }
    }
}

.btn.bg-blue-ui.white.read:hover {
    .bg-blue-ui {
        .white {
            .read:hover {
                box-shadow: 0px 5px 15px inset #4d5f77;
            }
        }
    }
}
