.cart-container {
    h5 {
        font-size: 30px;
    }

    .add-discount-btn {
        width: 185px;
        position: relative;
        right: 15px;
    }

    .add-gift-card-btn {
        position: relative;
        top: 10px;
        right: 15px;
    }

    .shipping-methods {
        font-size: 20px;
    }

    .back-to-shopping {
        margin-top: 20px;
        position: relative;
        right: 15px;
    }

    .back-to-shopping {
        .btn {
            width: 185px;
        }
    }

    .back-to-shopping {
        .btn:hover {
            -webkit-animation: pulsate 1.2s linear infinite;
            animation: pulsate 1.2s linear infinite;
        }
    }

    .checkout-link {
        margin-top: 20px;
    }

    .checkout-link {
        .btn-success {
            width: 350px;
            height: 50px;
            font-size: 20px;
            -webkit-animation: pulsate 1.2s linear infinite;
            animation: pulsate 1.2s linear infinite;
        }
    }

    .checkout-link {
        .btn-success {
            -webkit-animation: pulsate 1.2s linear infinite;
            animation: pulsate 1.2s linear infinite;
        }
    }

    .table-striped {
        a {
            -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
            box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
            text-decoration: none;
            color: black;
        }

        .qty-input-value {
            width: 30px;
            text-align: center;
        }

        .remove-gift-card-button {
            margin-left: 10px;
            text-align:center;
            color:red;
            font:bold 12px/100% Arial, sans-serif;
        }
    }

    .empty-cart {
        position: relative;
        text-align: center;

        .btn-primary {
            height: 75px;
            width: 150px;
            font-size: 20px;
            margin-top: 20px;
            -webkit-animation: pulsate 1.2s linear infinite;
            animation: pulsate 1.2s linear infinite;
        }
    }

    .clear-cart-btn {
        margin-bottom: 10px;
        width: 185px;
    }

    @-webkit-keyframes pulsate {
        50% {
            color: #fff;
            box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
        }
    }

    @keyframes pulsate {
        50% {
            color: #fff;
            box-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px black;
        }
    }

    .special-cards {
        .card {
            width: 158px;
            position: relative;
            right: 15px;
        }

        input {
            width: 120px;
        }
    }

    .check-subtotal {
        border-radius: 5px;
        width: 350px;font-size: 20px;

    }
}
