@import '../variables';

$admin-dashboard-menu-a-color: #ffffff;

.admin-dashboard {
    background-color: $admin-dashboard-menu;
    height: 100vh;
    font-family: $font-family-sans-serif;
    font-size: 1.4rem;
    color: $admin-dashboard-menu-a-color;
    a {
        background-color: $admin-dashboard-menu;
        font-family: $font-family-sans-serif;
        font-size: 1.2rem;
        color: $admin-dashboard-menu-a-color;
    }

    a:hover {
        background-color: $admin-dashboard-menu;
        font-family: $font-family-sans-serif;
        font-size: 1.2rem;
        color: $admin-dashboard-menu-a-color;
    }
}

.action-item {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 150px;
    margin-top: 10px;
    margin-left: 5px;
}
